<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>Home</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Add note</h4>
                    <form id="noteform">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="title">Title</label>
                            <input type="text" id="title" name="title" class="form-control form-control-lg" />
                            <span id="titleerror" class="error"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="content">Content</label>
                            <input type="text" id="content" name="content" class="form-control form-control-lg" />
                            <span id="contenterror" class="error"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label">Visibility</label><br>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="public" name="visibility" value="public"
                                    class="form-check-input" />
                                <label class="form-check-label" for="public">Public</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="private" name="visibility" value="private"
                                    class="form-check-input" />
                                <label class="form-check-label" for="private">Private</label>
                            </div>
                            <br>
                            <span id="visibilityerror" class="error"></span>
                        </div>

                        <button type="submit" onclick="event.preventDefault(); addSbmt()" class="btn btn-primary">
                            add
                        </button>

                    </form>
                </div>
            </div>

            <div id="notes"></div>

            <%- include("partials/mainclosure") %>

                <script src="/js/modules/note.js"></script>
                <script src="/js/index.js"></script>
                <script src="/js/add.js"></script>

                <%- include("partials/scripttags") %>
</body>

</html>