<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>Notifications</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Notifications
                    </h5>
                </div>
            </div>

            <div id="notifications"></div>

            <%- include("partials/mainclosure") %>

                <script src="/js/notifications.js"></script>

                <%- include("partials/scripttags") %>
</body>

</html>