<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>
            <%= username %>
        </title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <span style="display: none;" id="username">
                <%= username %>
            </span>

            <div id="userdetails"></div>

            <div id="notes"></div>

            <%- include("partials/mainclosure") %>

                <script src="/js/modules/note.js"></script>
                <script src="/js/user.js"></script>

                <%- include("partials/scripttags") %>
</body>

</html>